
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}


:root, html, boy {
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  padding: 3rem 2rem;
  border-radius: 8px;
}
