
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}


:root, html, boy {
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.main-wrapper {

  padding: 1rem 0rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100vh;
  width: 100vw;
}

.calls-wrapper {

  display: flex;
  /* align-items: ; */
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  width: 70%;
  float: left;
  height: 100%;
  top: 0;
  padding: 2rem 1rem;
  border-right: 1px solid rgb(148, 148, 148);
}

.calls-wrapper h4, .history-wrapper h4 {
  font-size: 3.5rem;
  font-weight: bolder;
  border-bottom: 1px solid rgb(148, 148, 148);
  padding-bottom: 2rem;
  height: fit-content;
  width: 100%;
}

.calls-wrapper .additional-info {
  width: 100%;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 5%;
}

.calls-wrapper .additional-info .separator {
  font-size: 2rem;
  font-weight: bolder;
  border-top: 1px solid rgb(148, 148, 148);
  padding: 2rem 0;
  height: fit-content;
  width: 100%;
}

.additional-info-description {
  font-size: 1.3rem;
  display: inline;
}

.current-call {
  position: absolute;
  top: 20%;
}


.call-title {
  font-size: 3rem;
  font-weight: bolder;
}

.call-description {
  margin-top: 5rem;
  font-size: 2rem;

  transition: 0.5s ease-in-out;
}

.call-description.enlarged {
  font-size: 3rem;
  transition: 0.5s ease-in-out;
}

.call-description.blinking {
  animation: blink 1s infinite;
}

.history-wrapper {
  text-align: center;
  color: white;
  width: 30%;
  float: right;
  height: 70%;
  padding: 2rem 1rem;
}

.history-wrapper {
  font-size: 1.5rem;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
