body {

}
/* Ajusta o tamanho do modal e remove espaços */
.custom-swal-popup {
    max-width: 400px !important;
    padding: 0.5rem !important;
  }

  .custom-swal-content {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Remove espaços internos do SweetAlert2 */
  .swal2-html-container {
    margin: 0 !important;
    padding: 0 !important;
  }
  /* styles.css */
.custom-swal {
    border-radius: 12px !important;
  }

  .swal-title {
    font-size: 1.2rem !important;
    margin-bottom: 0.5rem !important;
  }

  .swal-html {
    margin: 0 !important;
    font-size: 1.1rem !important;
  }
